@font-face
{
  font-family: 'android';
  src: url('../fnt/android/android.eot?24263804');
  src: url('../fnt/android/android.eot?24263804#iefix') format('embedded-opentype'),
       url('../fnt/android/android.woff?24263804') format('woff'),
       url('../fnt/android/android.ttf?24263804') format('truetype'),
       url('../fnt/android/android.svg?24263804#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
